footer {
	padding: 1rem;
	background-color: $primary-color;

	.footer-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		a {
			color: white;

			&:hover {
				color: $primary-color;
			}
		}
	}
}
